<% @masthead = render "front_masthead" %>

<h2> Already climbed aboard? Well, then ye might be interested in these.</h2>

<section id="your-submission">
  <h4>Dare ye t'enter the photo contest?</h4>
  <%= link_to "Upload Yer Photo", new_photo_path, :class => "btn btn-lg btn-primary", :disabled => !user_signed_in? %>
  <% unless user_signed_in? %>
    <small>Better <%= link_to "sign in or sign up", new_user_session_path %>, matey, or we'll give ye  no quarter!</small>
  <% end %>
</section>

<section id="vote">
  <h4>Think yer the captain, do ye? Why not vote for yer favorite entries?</h4>
  <%= link_to "View th' Entries", photos_path, :class => "btn btn-lg btn-primary" %>
</section>

<section id="dubloon-guessing">
  <h4>If it's gold dubloons ye be seeking, this be the place for you!</h4>
  <%= link_to "Guess th' Gold", front_path, :class => "btn btn-lg btn-primary", :disabled => true %>
  <small>We're not quite there yet, me hearties. Check back later to leave yer guess!</small>

  <!--
  <%= link_to "Guess th' Gold", front_path, :class => "btn btn-lg btn-primary", :disabled => !user_signed_in? %>
  <% unless user_signed_in? %>
    <small>Didn't ye see what I just said? <%= link_to "Sign in or sign up!", new_user_session_path %></small>
  <% end %>
  -->
</section>
