<% @masthead = render "signin_masthead" %>

<section id="sign_in" class="column">
    <h2>Sign in</h2>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="input-group input-group">
        <%= f.label :email %>
        <%= f.email_field :email, :id => 'sign_in_email', :class => "form-control" %> 
      </div>

      <div class="input-group input-group">
        <%= f.label :password %> 
        <%= f.password_field :password, :id => 'sign_in_password', :class => "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me %> Remember Me
          </label>
        </div>
      <% end -%>

      <div class="actions"><%= f.submit "Sign in", :class => "btn btn-primary" %></div>
    <% end %>

    <%= render "links" %>
</section>

<section id="sign_up" class="column">
    <h2>Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="input-group">
        <%= f.label :name %>
        <%= f.text_field :name, :id => 'registration_name', :class => "form-control" %>
    </div>

    <div class="input-group">
        <%= f.label :email %>
        <%= f.email_field :email, :id => 'registration_email', :class => "form-control" %>
    </div>

    <div class="input-group">
        <%= f.label :password %>
        <%= f.password_field :password, :id => 'registration_password', :class => "form-control" %>
    </div>

    <div class="input-group">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, :id => 'registration_confirm_password', :class => "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", :class => "btn btn-primary" %>
    </div>
    <% end %>

</section>

