<div class="photo">
  <a href="<%= photo_path(photo) %>" class="photo-link">
    <%= image_tag photo.image.url(:medium) %>
    <div class="caption"><%= photo.caption %></div>
  </a>
  <% if can? :update, photo %>
    <div class="admin">
      <%= link_to '<i class="glyphicon glyphicon-edit"></i> Edit'.html_safe, edit_photo_url(photo), :class => "btn btn-default btn-xs" %>
      <% if can? :destroy, photo %>
        <%= link_to '<i class="glyphicon glyphicon-remove-circle icon-white"></i> Delete'.html_safe, photo_url(photo), :method => "delete", :confirm => "Are you sure you want to delete #{photo.title}?", :class => "btn btn-xs btn-danger delete" %>
      <% end %>
    </div>
  <% end %>
</div>

