<%= nested_form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="post_error_explanation" class="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :title, "Yer post headline" %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  
  <%= f.fields_for :photos do |p| %>
    <%= render :partial => 'photo_fields', :locals => { :p => p } %>
  <% end %>
  <div class="add button"><%= f.link_to_add "Add a photo", :photos, :class => "btn btn-small btn-success" %></div>

  <div class="input-group">
    <%= f.label :body, "Write yer post herrrrre." %>
    <%= f.text_area :body, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'data-disable-with' => "Saving...", :class => "btn btn-primary btn-lg" %>
  </div>
<% end %>
