<% @masthead = "<h1>#{@post.title}</h1>" %>
<article id="post">
  <% for photo in @post.photos %>
    <a href="<%= photo.image.url %>"><%= image_tag photo.image.url(:full) %></a>
    <%= markdown photo.caption %>
  <% end %>
  <%= markdown @post.body %>
</article>

<section id="comments">
  <h3>Leave yer best guess down below</h3>
	<% if @post.comments.blank? %>
    <p>Yar, no one has had the courage t' guess! Have you?</p>
	<% end %>
  <%= render :partial => 'layouts/comment', :collection => @post.comments %>
  <%= render :partial => 'layouts/new_comment', :locals => {:type => "post"} %> 
</section>

